#buttons{
	background-color: #C47BE4;
	height: 40vh;
	display: flex;
	align-items: center;
	justify-content: space-around
}
button{
	background-color: #725CAD;
	color: white;
	padding: 10px;
	width: 90px;
	border: none;
}